body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1912px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1912px;
  height:970px;
}
#u39999 {
  position:absolute;
  left:0px;
  top:0px;
  width:1912px;
  height:970px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40000 {
  position:absolute;
  left:2px;
  top:476px;
  width:1908px;
  word-wrap:break-word;
}
#u40001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1648px;
  height:368px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40001 {
  position:absolute;
  left:233px;
  top:97px;
  width:1648px;
  height:368px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40002 {
  position:absolute;
  left:2px;
  top:176px;
  width:1644px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:47px;
  background:inherit;
  background-color:rgba(68, 82, 104, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40003 {
  position:absolute;
  left:0px;
  top:155px;
  width:196px;
  height:47px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40003_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 189, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40003.mouseOver {
}
#u40004 {
  position:absolute;
  left:2px;
  top:13px;
  width:192px;
  word-wrap:break-word;
}
#u40005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u40005 {
  position:absolute;
  left:25px;
  top:342px;
  width:20px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40006 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u40007 {
  position:absolute;
  left:23px;
  top:282px;
  width:25px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40008 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u40009 {
  position:absolute;
  left:20px;
  top:224px;
  width:31px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40010 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:47px;
  background:inherit;
  background-color:rgba(245, 160, 55, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40011 {
  position:absolute;
  left:0px;
  top:212px;
  width:196px;
  height:47px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40011_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 189, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40011.mouseOver {
}
#u40012 {
  position:absolute;
  left:2px;
  top:13px;
  width:192px;
  word-wrap:break-word;
}
#u40013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:47px;
  background:inherit;
  background-color:rgba(68, 82, 104, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40013 {
  position:absolute;
  left:0px;
  top:269px;
  width:196px;
  height:47px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40013_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 189, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40013.mouseOver {
}
#u40014 {
  position:absolute;
  left:2px;
  top:13px;
  width:192px;
  word-wrap:break-word;
}
#u40015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:47px;
  background:inherit;
  background-color:rgba(68, 82, 104, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40015 {
  position:absolute;
  left:0px;
  top:327px;
  width:196px;
  height:47px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40015_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 189, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40015.selected {
}
#u40016 {
  position:absolute;
  left:2px;
  top:13px;
  width:192px;
  word-wrap:break-word;
}
#u40017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:47px;
  background:inherit;
  background-color:rgba(68, 82, 104, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40017 {
  position:absolute;
  left:0px;
  top:385px;
  width:196px;
  height:47px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40017_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 189, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40017.mouseOver {
}
#u40018 {
  position:absolute;
  left:2px;
  top:13px;
  width:192px;
  word-wrap:break-word;
}
#u40019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u40019 {
  position:absolute;
  left:24px;
  top:399px;
  width:22px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40020 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:47px;
  background:inherit;
  background-color:rgba(68, 82, 104, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40021 {
  position:absolute;
  left:0px;
  top:443px;
  width:196px;
  height:47px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40021_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 189, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40021.mouseOver {
}
#u40022 {
  position:absolute;
  left:2px;
  top:13px;
  width:192px;
  word-wrap:break-word;
}
#u40023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u40023 {
  position:absolute;
  left:24px;
  top:456px;
  width:20px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40024 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:47px;
  background:inherit;
  background-color:rgba(68, 82, 104, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40025 {
  position:absolute;
  left:0px;
  top:500px;
  width:196px;
  height:47px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40025_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 189, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40025.mouseOver {
}
#u40026 {
  position:absolute;
  left:2px;
  top:13px;
  width:192px;
  word-wrap:break-word;
}
#u40027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:47px;
  background:inherit;
  background-color:rgba(68, 82, 104, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40027 {
  position:absolute;
  left:0px;
  top:557px;
  width:196px;
  height:47px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40027_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 189, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40027.mouseOver {
}
#u40028 {
  position:absolute;
  left:2px;
  top:13px;
  width:192px;
  word-wrap:break-word;
}
#u40029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:56px;
  background:inherit;
  background-color:rgba(68, 82, 104, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40029 {
  position:absolute;
  left:11px;
  top:614px;
  width:173px;
  height:56px;
}
#u40030 {
  position:absolute;
  left:2px;
  top:20px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u40031 {
  position:absolute;
  left:22px;
  top:514px;
  width:25px;
  height:20px;
}
#u40032 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u40033 {
  position:absolute;
  left:20px;
  top:167px;
  width:25px;
  height:24px;
}
#u40034 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:24px;
}
#u40035 {
  position:absolute;
  left:27px;
  top:340px;
  width:16px;
  height:24px;
}
#u40036 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u40037 {
  position:absolute;
  left:22px;
  top:224px;
  width:25px;
  height:25px;
}
#u40038 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u40039 {
  position:absolute;
  left:24px;
  top:282px;
  width:20px;
  height:26px;
}
#u40040 {
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u40041 {
  position:absolute;
  left:26px;
  top:571px;
  width:20px;
  height:20px;
}
#u40042 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u40043 {
  position:absolute;
  left:253px;
  top:19px;
  width:215px;
  height:33px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u40044 {
  position:absolute;
  left:2px;
  top:6px;
  width:211px;
  word-wrap:break-word;
}
#u40045 {
  position:absolute;
  left:196px;
  top:329px;
  width:344px;
  height:249px;
  overflow:hidden;
}
#u40045_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:249px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40045_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40046 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:250px;
  overflow:hidden;
  visibility:hidden;
}
#u40046_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:250px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40046_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:245px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u40047 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:245px;
}
#u40048 {
  position:absolute;
  left:10px;
  top:10px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u40049 {
  position:absolute;
  left:25px;
  top:15px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u40050 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u40051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u40051 {
  position:absolute;
  left:113px;
  top:32px;
  width:1px;
  height:200px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40052 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u40053 {
  position:absolute;
  left:142px;
  top:15px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u40054 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u40055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40055 {
  position:absolute;
  left:140px;
  top:80px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40056 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u40057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40057 {
  position:absolute;
  left:140px;
  top:115px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40058 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u40059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u40059 {
  position:absolute;
  left:222px;
  top:32px;
  width:1px;
  height:200px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40060 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u40061 {
  position:absolute;
  left:246px;
  top:15px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u40062 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u40063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40063 {
  position:absolute;
  left:244px;
  top:47px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40064 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u40065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40065 {
  position:absolute;
  left:244px;
  top:79px;
  width:85px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40066 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u40067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40067 {
  position:absolute;
  left:140px;
  top:45px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40068 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u40069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40069 {
  position:absolute;
  left:24px;
  top:48px;
  width:85px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40070 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u40071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40071 {
  position:absolute;
  left:24px;
  top:81px;
  width:85px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40072 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u40073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40073 {
  position:absolute;
  left:24px;
  top:111px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40074 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u40075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:47px;
  background:inherit;
  background-color:rgba(68, 82, 104, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40075 {
  position:absolute;
  left:0px;
  top:98px;
  width:196px;
  height:47px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40075_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 189, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40075.selected {
}
#u40076 {
  position:absolute;
  left:2px;
  top:13px;
  width:192px;
  word-wrap:break-word;
}
#u40077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u40077 {
  position:absolute;
  left:23px;
  top:112px;
  width:20px;
  height:20px;
}
#u40078 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40079 {
  position:absolute;
  left:196px;
  top:0px;
  width:1487px;
  height:1732px;
  overflow:hidden;
}
#u40079_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1487px;
  height:1732px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40079_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1486px;
  height:1733px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40080 {
  position:absolute;
  left:2px;
  top:0px;
  width:1486px;
  height:1733px;
}
#u40081 {
  position:absolute;
  left:2px;
  top:858px;
  width:1482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:39px;
  background:inherit;
  background-color:rgba(91, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#FFFFFF;
}
#u40082 {
  position:absolute;
  left:2px;
  top:0px;
  width:108px;
  height:39px;
  font-size:22px;
  color:#FFFFFF;
}
#u40083 {
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u40084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1207px;
  height:94px;
  background:inherit;
  background-color:rgba(245, 160, 55, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
}
#u40084 {
  position:absolute;
  left:10px;
  top:1185px;
  width:1207px;
  height:94px;
  font-size:16px;
}
#u40085 {
  position:absolute;
  left:10px;
  top:10px;
  width:1187px;
  word-wrap:break-word;
}
#u40086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:789px;
  height:276px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
}
#u40086 {
  position:absolute;
  left:10px;
  top:69px;
  width:789px;
  height:276px;
  font-size:16px;
}
#u40087 {
  position:absolute;
  left:10px;
  top:10px;
  width:769px;
  word-wrap:break-word;
}
