body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1275px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:463px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  position:absolute;
  left:10px;
  top:978px;
  width:963px;
  height:463px;
}
#u20 {
  position:absolute;
  left:2px;
  top:224px;
  width:959px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  position:absolute;
  left:33px;
  top:990px;
  width:188px;
  height:17px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:2px;
}
#u23 {
  position:absolute;
  left:31px;
  top:1018px;
  width:942px;
  height:1px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-8px;
  width:938px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  position:absolute;
  left:453px;
  top:1410px;
  width:85px;
  height:17px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  position:absolute;
  left:489px;
  top:991px;
  width:147px;
  height:17px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:779px;
  top:984px;
  width:184px;
  height:30px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u30 {
  position:absolute;
  left:653px;
  top:984px;
  width:116px;
  height:30px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u30_input:disabled {
  color:grayText;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:371px;
}
#u31 {
  position:absolute;
  left:33px;
  top:1029px;
  width:930px;
  height:371px;
}
#u32 {
  position:absolute;
  left:2px;
  top:178px;
  width:926px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u33 {
  position:absolute;
  left:983px;
  top:978px;
  width:236px;
  height:200px;
}
#u34 {
  position:absolute;
  left:10px;
  top:10px;
  width:216px;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:533px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  position:absolute;
  left:10px;
  top:1464px;
  width:963px;
  height:533px;
}
#u36 {
  position:absolute;
  left:2px;
  top:258px;
  width:959px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  position:absolute;
  left:33px;
  top:1476px;
  width:85px;
  height:17px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:2px;
}
#u39 {
  position:absolute;
  left:31px;
  top:1504px;
  width:942px;
  height:1px;
}
#u40 {
  position:absolute;
  left:2px;
  top:-8px;
  width:938px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  position:absolute;
  left:611px;
  top:1477px;
  width:147px;
  height:17px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:779px;
  top:1470px;
  width:184px;
  height:30px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:932px;
  height:470px;
}
#u44 {
  position:absolute;
  left:31px;
  top:1515px;
  width:932px;
  height:470px;
}
#u45 {
  position:absolute;
  left:2px;
  top:227px;
  width:928px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u46 {
  position:absolute;
  left:983px;
  top:1464px;
  width:272px;
  height:200px;
}
#u47 {
  position:absolute;
  left:10px;
  top:10px;
  width:252px;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48 {
  position:absolute;
  left:10px;
  top:13px;
  width:963px;
  height:43px;
}
#u49 {
  position:absolute;
  left:2px;
  top:14px;
  width:959px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:37px;
}
#u50 {
  position:absolute;
  left:19px;
  top:17px;
  width:246px;
  height:37px;
}
#u51 {
  position:absolute;
  left:2px;
  top:10px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:27px;
}
#u52 {
  position:absolute;
  left:811px;
  top:21px;
  width:156px;
  height:27px;
}
#u53 {
  position:absolute;
  left:2px;
  top:6px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:517px;
  top:23px;
  width:300px;
  height:25px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  position:absolute;
  left:432px;
  top:27px;
  width:75px;
  height:17px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57 {
  position:absolute;
  left:10px;
  top:66px;
  width:963px;
  height:149px;
}
#u58 {
  position:absolute;
  left:2px;
  top:66px;
  width:959px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  position:absolute;
  left:10px;
  top:232px;
  width:963px;
  height:170px;
}
#u60 {
  position:absolute;
  left:2px;
  top:77px;
  width:959px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  position:absolute;
  left:19px;
  top:242px;
  width:43px;
  height:17px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:2px;
}
#u63 {
  position:absolute;
  left:19px;
  top:266px;
  width:942px;
  height:1px;
}
#u64 {
  position:absolute;
  left:2px;
  top:-8px;
  width:938px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  position:absolute;
  left:51px;
  top:290px;
  width:43px;
  height:17px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  position:absolute;
  left:299px;
  top:290px;
  width:71px;
  height:17px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69 {
  position:absolute;
  left:162px;
  top:290px;
  width:43px;
  height:17px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71 {
  position:absolute;
  left:462px;
  top:290px;
  width:85px;
  height:17px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  position:absolute;
  left:10px;
  top:421px;
  width:963px;
  height:170px;
}
#u74 {
  position:absolute;
  left:2px;
  top:77px;
  width:959px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75 {
  position:absolute;
  left:18px;
  top:430px;
  width:57px;
  height:17px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:2px;
}
#u77 {
  position:absolute;
  left:18px;
  top:454px;
  width:942px;
  height:1px;
}
#u78 {
  position:absolute;
  left:2px;
  top:-8px;
  width:938px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  position:absolute;
  left:67px;
  top:473px;
  width:67px;
  height:17px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u81 {
  position:absolute;
  left:58px;
  top:496px;
  width:150px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  position:absolute;
  left:66px;
  top:541px;
  width:85px;
  height:17px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u85 {
  position:absolute;
  left:51px;
  top:330px;
  width:19px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u88 {
  position:absolute;
  left:162px;
  top:330px;
  width:37px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u90 {
  position:absolute;
  left:299px;
  top:330px;
  width:55px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u92 {
  position:absolute;
  left:462px;
  top:330px;
  width:19px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94 {
  position:absolute;
  left:609px;
  top:290px;
  width:85px;
  height:17px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u96 {
  position:absolute;
  left:609px;
  top:330px;
  width:19px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  position:absolute;
  left:797px;
  top:290px;
  width:85px;
  height:17px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u100 {
  position:absolute;
  left:797px;
  top:330px;
  width:19px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u102 {
  position:absolute;
  left:255px;
  top:473px;
  width:81px;
  height:17px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u104_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:24px;
}
#u104 {
  position:absolute;
  left:153px;
  top:544px;
  width:5px;
  height:12px;
}
#u105 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  position:absolute;
  left:178px;
  top:541px;
  width:22px;
  height:17px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u108 {
  position:absolute;
  left:251px;
  top:497px;
  width:114px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u110 {
  position:absolute;
  left:255px;
  top:542px;
  width:85px;
  height:17px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112 {
  position:absolute;
  left:374px;
  top:544px;
  width:22px;
  height:17px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u114_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:24px;
}
#u114 {
  position:absolute;
  left:349px;
  top:544px;
  width:5px;
  height:12px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u115 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u116 {
  position:absolute;
  left:486px;
  top:471px;
  width:67px;
  height:17px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u118 {
  position:absolute;
  left:477px;
  top:494px;
  width:176px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120 {
  position:absolute;
  left:485px;
  top:539px;
  width:85px;
  height:17px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u122_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:24px;
}
#u122 {
  position:absolute;
  left:580px;
  top:542px;
  width:5px;
  height:12px;
}
#u123 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u124 {
  position:absolute;
  left:597px;
  top:539px;
  width:22px;
  height:17px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u126 {
  position:absolute;
  left:745px;
  top:473px;
  width:67px;
  height:17px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u128 {
  position:absolute;
  left:736px;
  top:496px;
  width:87px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u130 {
  position:absolute;
  left:744px;
  top:541px;
  width:85px;
  height:17px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u132_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:24px;
}
#u132 {
  position:absolute;
  left:836px;
  top:544px;
  width:5px;
  height:12px;
}
#u133 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u134 {
  position:absolute;
  left:856px;
  top:541px;
  width:22px;
  height:17px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:339px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u136 {
  position:absolute;
  left:10px;
  top:614px;
  width:963px;
  height:339px;
}
#u137 {
  position:absolute;
  left:2px;
  top:162px;
  width:959px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:2px;
}
#u138 {
  position:absolute;
  left:18px;
  top:656px;
  width:942px;
  height:1px;
}
#u139 {
  position:absolute;
  left:2px;
  top:-8px;
  width:938px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:81px;
}
#u140 {
  position:absolute;
  left:37px;
  top:100px;
  width:71px;
  height:81px;
}
#u141 {
  position:absolute;
  left:2px;
  top:32px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u142 {
  position:absolute;
  left:108px;
  top:107px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u144 {
  position:absolute;
  left:108px;
  top:145px;
  width:113px;
  height:17px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:71px;
}
#u146 {
  position:absolute;
  left:221px;
  top:100px;
  width:82px;
  height:71px;
}
#u147 {
  position:absolute;
  left:2px;
  top:28px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u148 {
  position:absolute;
  left:305px;
  top:107px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u150 {
  position:absolute;
  left:305px;
  top:145px;
  width:113px;
  height:17px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u152 {
  position:absolute;
  left:540px;
  top:100px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u154 {
  position:absolute;
  left:540px;
  top:145px;
  width:95px;
  height:17px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:78px;
}
#u156 {
  position:absolute;
  left:446px;
  top:100px;
  width:76px;
  height:78px;
}
#u157 {
  position:absolute;
  left:2px;
  top:31px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:70px;
}
#u158 {
  position:absolute;
  left:677px;
  top:104px;
  width:78px;
  height:70px;
}
#u159 {
  position:absolute;
  left:2px;
  top:27px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u160 {
  position:absolute;
  left:777px;
  top:100px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u162 {
  position:absolute;
  left:777px;
  top:145px;
  width:99px;
  height:17px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:243px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u164 {
  position:absolute;
  left:991px;
  top:614px;
  width:284px;
  height:243px;
}
#u165 {
  position:absolute;
  left:10px;
  top:10px;
  width:264px;
  word-wrap:break-word;
}
#u166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:279px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u166 {
  position:absolute;
  left:991px;
  top:13px;
  width:284px;
  height:279px;
}
#u167 {
  position:absolute;
  left:10px;
  top:10px;
  width:264px;
  word-wrap:break-word;
}
#u168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:169px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u168 {
  position:absolute;
  left:991px;
  top:302px;
  width:284px;
  height:169px;
}
#u169 {
  position:absolute;
  left:10px;
  top:10px;
  width:264px;
  word-wrap:break-word;
}
#u170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u170 {
  position:absolute;
  left:20px;
  top:625px;
  width:57px;
  height:17px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u172 {
  position:absolute;
  left:165px;
  top:626px;
  width:147px;
  height:17px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u174 {
  position:absolute;
  left:790px;
  top:619px;
  width:170px;
  height:30px;
}
#u174_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u175 {
  position:absolute;
  left:322px;
  top:619px;
  width:86px;
  height:30px;
}
#u175_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u175_input:disabled {
  color:grayText;
}
#u176 {
  position:absolute;
  left:418px;
  top:619px;
  width:86px;
  height:30px;
}
#u176_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u176_input:disabled {
  color:grayText;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u178 {
  position:absolute;
  left:652px;
  top:619px;
  width:128px;
  height:30px;
}
#u178_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u179 {
  position:absolute;
  left:755px;
  top:625px;
  width:19px;
  height:19px;
  color:#999999;
}
#u180 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:450px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u181 {
  position:absolute;
  left:10px;
  top:2513px;
  width:963px;
  height:450px;
}
#u182 {
  position:absolute;
  left:2px;
  top:217px;
  width:959px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u183 {
  position:absolute;
  left:18px;
  top:2521px;
  width:129px;
  height:17px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:2px;
}
#u185 {
  position:absolute;
  left:18px;
  top:2545px;
  width:942px;
  height:1px;
}
#u186 {
  position:absolute;
  left:2px;
  top:-8px;
  width:938px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u187 {
  position:absolute;
  left:68px;
  top:2907px;
  width:892px;
  height:17px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  word-wrap:break-word;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:942px;
  height:329px;
}
#u189 {
  position:absolute;
  left:18px;
  top:2556px;
  width:942px;
  height:329px;
}
#u190 {
  position:absolute;
  left:2px;
  top:156px;
  width:938px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u191 {
  position:absolute;
  left:444px;
  top:2934px;
  width:141px;
  height:17px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:25px;
}
#u193 {
  position:absolute;
  left:711px;
  top:2517px;
  width:249px;
  height:25px;
}
#u194 {
  position:absolute;
  left:2px;
  top:4px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u195 {
  position:absolute;
  left:540px;
  top:2521px;
  width:149px;
  height:17px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u198 {
  position:absolute;
  left:514px;
  top:619px;
  width:128px;
  height:30px;
}
#u198_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u199 {
  position:absolute;
  left:617px;
  top:625px;
  width:19px;
  height:19px;
  color:#999999;
}
#u200 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:279px;
}
#u201 {
  position:absolute;
  left:19px;
  top:667px;
  width:941px;
  height:279px;
}
#u202 {
  position:absolute;
  left:2px;
  top:132px;
  width:937px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:463px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u203 {
  position:absolute;
  left:10px;
  top:2020px;
  width:963px;
  height:463px;
}
#u204 {
  position:absolute;
  left:2px;
  top:224px;
  width:959px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u205 {
  position:absolute;
  left:33px;
  top:2032px;
  width:155px;
  height:17px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:2px;
}
#u207 {
  position:absolute;
  left:31px;
  top:2060px;
  width:942px;
  height:1px;
}
#u208 {
  position:absolute;
  left:2px;
  top:-8px;
  width:938px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u209 {
  position:absolute;
  left:453px;
  top:2458px;
  width:85px;
  height:17px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u211 {
  position:absolute;
  left:489px;
  top:2033px;
  width:147px;
  height:17px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u213 {
  position:absolute;
  left:779px;
  top:2026px;
  width:184px;
  height:30px;
}
#u213_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u214 {
  position:absolute;
  left:653px;
  top:2026px;
  width:116px;
  height:30px;
}
#u214_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u214_input:disabled {
  color:grayText;
}
#u215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:207px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u215 {
  position:absolute;
  left:983px;
  top:2020px;
  width:272px;
  height:207px;
}
#u216 {
  position:absolute;
  left:10px;
  top:10px;
  width:252px;
  word-wrap:break-word;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:383px;
}
#u217 {
  position:absolute;
  left:33px;
  top:2071px;
  width:930px;
  height:383px;
}
#u218 {
  position:absolute;
  left:2px;
  top:184px;
  width:926px;
  visibility:hidden;
  word-wrap:break-word;
}
