body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1004px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:729px;
}
#u1981 {
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:729px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:356px;
  width:1000px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:511px;
}
#u1983 {
  position:absolute;
  left:78px;
  top:108px;
  width:153px;
  height:511px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:248px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985 {
  position:absolute;
  left:131px;
  top:120px;
  width:100px;
  height:16px;
}
#u1986 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1987 {
  position:absolute;
  left:131px;
  top:176px;
  width:100px;
  height:16px;
}
#u1988 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1987_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1989 {
  position:absolute;
  left:131px;
  top:234px;
  width:100px;
  height:16px;
}
#u1990 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1989_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1991 {
  position:absolute;
  left:131px;
  top:286px;
  width:100px;
  height:16px;
}
#u1992 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1993 {
  position:absolute;
  left:131px;
  top:344px;
  width:100px;
  height:16px;
}
#u1994 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1993_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1995 {
  position:absolute;
  left:131px;
  top:399px;
  width:100px;
  height:16px;
}
#u1996 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1995_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1997 {
  position:absolute;
  left:131px;
  top:457px;
  width:100px;
  height:16px;
}
#u1998 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1997_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1999 {
  position:absolute;
  left:131px;
  top:513px;
  width:100px;
  height:16px;
}
#u2000 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2001 {
  position:absolute;
  left:131px;
  top:566px;
  width:100px;
  height:16px;
}
#u2002 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2001_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:524px;
}
#u2003 {
  position:absolute;
  left:190px;
  top:105px;
  width:759px;
  height:524px;
}
#u2004 {
  position:absolute;
  left:2px;
  top:254px;
  width:755px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:33px;
  background:inherit;
  background-color:rgba(254, 159, 31, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2005 {
  position:absolute;
  left:66px;
  top:640px;
  width:79px;
  height:33px;
}
#u2006 {
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
