body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1004px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:729px;
}
#u1866 {
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:729px;
}
#u1867 {
  position:absolute;
  left:2px;
  top:356px;
  width:1000px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:511px;
}
#u1868 {
  position:absolute;
  left:78px;
  top:108px;
  width:153px;
  height:511px;
}
#u1869 {
  position:absolute;
  left:2px;
  top:248px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1870 {
  position:absolute;
  left:131px;
  top:120px;
  width:100px;
  height:16px;
}
#u1871 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1870_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1872 {
  position:absolute;
  left:131px;
  top:176px;
  width:100px;
  height:16px;
}
#u1873 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1872_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1874 {
  position:absolute;
  left:131px;
  top:234px;
  width:100px;
  height:16px;
}
#u1875 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1874_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1876 {
  position:absolute;
  left:131px;
  top:286px;
  width:100px;
  height:16px;
}
#u1877 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1876_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1878 {
  position:absolute;
  left:131px;
  top:344px;
  width:100px;
  height:16px;
}
#u1879 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1878_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1880 {
  position:absolute;
  left:131px;
  top:399px;
  width:100px;
  height:16px;
}
#u1881 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1880_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1882 {
  position:absolute;
  left:131px;
  top:457px;
  width:100px;
  height:16px;
}
#u1883 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1882_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1884 {
  position:absolute;
  left:131px;
  top:513px;
  width:100px;
  height:16px;
}
#u1885 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1884_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1886 {
  position:absolute;
  left:131px;
  top:566px;
  width:100px;
  height:16px;
}
#u1887 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1886_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:524px;
}
#u1888 {
  position:absolute;
  left:190px;
  top:105px;
  width:759px;
  height:524px;
}
#u1889 {
  position:absolute;
  left:2px;
  top:254px;
  width:755px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:33px;
  background:inherit;
  background-color:rgba(254, 159, 31, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1890 {
  position:absolute;
  left:66px;
  top:640px;
  width:79px;
  height:33px;
}
#u1891 {
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
