body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1904px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1904px;
  height:832px;
}
#u40645 {
  position:absolute;
  left:0px;
  top:0px;
  width:1904px;
  height:832px;
}
#u40646 {
  position:absolute;
  left:2px;
  top:408px;
  width:1900px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u40647 {
  position:absolute;
  left:841px;
  top:255px;
  width:124px;
  height:30px;
  text-align:left;
}
#u40648 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
