body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1685px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1685px;
  height:429px;
}
#u13360 {
  position:absolute;
  left:0px;
  top:0px;
  width:1685px;
  height:429px;
}
#u13361 {
  position:absolute;
  left:2px;
  top:206px;
  width:1681px;
  visibility:hidden;
  word-wrap:break-word;
}
