body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1005px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:728px;
}
#u1223 {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:728px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:356px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225 {
  position:absolute;
  left:69px;
  top:121px;
  width:17px;
  height:16px;
}
#u1226 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1227 {
  position:absolute;
  left:68px;
  top:166px;
  width:17px;
  height:16px;
}
#u1228 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1229 {
  position:absolute;
  left:68px;
  top:207px;
  width:17px;
  height:16px;
}
#u1230 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1231 {
  position:absolute;
  left:68px;
  top:246px;
  width:17px;
  height:16px;
}
#u1232 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1231_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1233 {
  position:absolute;
  left:68px;
  top:286px;
  width:17px;
  height:16px;
}
#u1234 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1233_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1235 {
  position:absolute;
  left:68px;
  top:325px;
  width:17px;
  height:16px;
}
#u1236 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1237 {
  position:absolute;
  left:68px;
  top:365px;
  width:17px;
  height:16px;
}
#u1238 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1239 {
  position:absolute;
  left:68px;
  top:406px;
  width:17px;
  height:16px;
}
#u1240 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1241 {
  position:absolute;
  left:68px;
  top:446px;
  width:17px;
  height:16px;
}
#u1242 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1243 {
  position:absolute;
  left:68px;
  top:485px;
  width:17px;
  height:16px;
}
#u1244 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1245 {
  position:absolute;
  left:68px;
  top:524px;
  width:17px;
  height:16px;
}
#u1246 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1247 {
  position:absolute;
  left:68px;
  top:566px;
  width:17px;
  height:16px;
}
#u1248 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1249 {
  position:absolute;
  left:68px;
  top:604px;
  width:17px;
  height:16px;
}
#u1250 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:39px;
}
#u1251 {
  position:absolute;
  left:11px;
  top:59px;
  width:508px;
  height:39px;
}
#u1252 {
  position:absolute;
  left:2px;
  top:12px;
  width:504px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:39px;
}
#u1253 {
  position:absolute;
  left:519px;
  top:58px;
  width:157px;
  height:39px;
}
#u1254 {
  position:absolute;
  left:2px;
  top:12px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:33px;
}
#u1255 {
  position:absolute;
  left:458px;
  top:644px;
  width:93px;
  height:33px;
  color:#FFFFFF;
}
#u1256 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
