body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1904px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u37238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1904px;
  height:936px;
}
#u37238 {
  position:absolute;
  left:0px;
  top:0px;
  width:1904px;
  height:936px;
}
#u37239 {
  position:absolute;
  left:2px;
  top:460px;
  width:1900px;
  visibility:hidden;
  word-wrap:break-word;
}
