body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:651px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:644px;
}
#u21995 {
  position:absolute;
  left:109px;
  top:58px;
  width:363px;
  height:644px;
}
#u21996 {
  position:absolute;
  left:2px;
  top:314px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:34px;
}
#u21997 {
  position:absolute;
  left:112px;
  top:302px;
  width:362px;
  height:34px;
}
#u21998 {
  position:absolute;
  left:2px;
  top:9px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u21999 {
  position:absolute;
  left:128px;
  top:132px;
  width:71px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22000 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u22001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22001 {
  position:absolute;
  left:132px;
  top:401px;
  width:97px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22002 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u22003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22003 {
  position:absolute;
  left:128px;
  top:229px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22004 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:170px;
}
#u22005 {
  position:absolute;
  left:112px;
  top:132px;
  width:360px;
  height:170px;
}
#u22006 {
  position:absolute;
  left:2px;
  top:77px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:415px;
}
#u22007 {
  position:absolute;
  left:114px;
  top:335px;
  width:360px;
  height:415px;
}
#u22008 {
  position:absolute;
  left:2px;
  top:200px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:37px;
}
#u22009 {
  position:absolute;
  left:111px;
  top:302px;
  width:362px;
  height:37px;
}
#u22010 {
  position:absolute;
  left:2px;
  top:10px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:16px;
}
#u22011 {
  position:absolute;
  left:115px;
  top:302px;
  width:359px;
  height:16px;
}
#u22012 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  word-wrap:break-word;
}
#u22013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u22013 {
  position:absolute;
  left:208px;
  top:318px;
  width:89px;
  height:16px;
  font-size:14px;
}
#u22014 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u22015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:85px;
}
#u22015 {
  position:absolute;
  left:102px;
  top:613px;
  width:371px;
  height:85px;
}
#u22016 {
  position:absolute;
  left:2px;
  top:34px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:52px;
}
#u22017 {
  position:absolute;
  left:114px;
  top:698px;
  width:368px;
  height:52px;
}
#u22018 {
  position:absolute;
  left:2px;
  top:18px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22019 {
  position:absolute;
  left:474px;
  top:133px;
  width:0px;
  height:0px;
}
#u22019_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u22019_seg1 {
  position:absolute;
  left:-4px;
  top:6px;
  width:44px;
  height:8px;
}
#u22019_seg2 {
  position:absolute;
  left:32px;
  top:6px;
  width:8px;
  height:162px;
}
#u22019_seg3 {
  position:absolute;
  left:-4px;
  top:160px;
  width:44px;
  height:8px;
}
#u22019_seg4 {
  position:absolute;
  left:-9px;
  top:154px;
  width:20px;
  height:20px;
}
#u22020 {
  position:absolute;
  left:-14px;
  top:76px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22021 {
  position:absolute;
  left:476px;
  top:341px;
  width:0px;
  height:0px;
}
#u22021_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:33px;
  height:8px;
}
#u22021_seg1 {
  position:absolute;
  left:25px;
  top:-4px;
  width:8px;
  height:323px;
}
#u22021_seg2 {
  position:absolute;
  left:-3px;
  top:311px;
  width:36px;
  height:8px;
}
#u22021_seg3 {
  position:absolute;
  left:-8px;
  top:305px;
  width:20px;
  height:20px;
}
#u22022 {
  position:absolute;
  left:-21px;
  top:151px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22023 {
  position:absolute;
  left:594px;
  top:197px;
  width:47px;
  height:16px;
}
#u22024 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u22025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22025 {
  position:absolute;
  left:594px;
  top:502px;
  width:57px;
  height:16px;
}
#u22026 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22027 {
  position:absolute;
  left:594px;
  top:313px;
  width:57px;
  height:16px;
}
#u22028 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
