body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1123px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24751 {
  position:absolute;
  left:0px;
  top:0px;
  width:1123px;
  height:1112px;
  overflow:hidden;
}
#u24751_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1123px;
  height:1112px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24751_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  height:322px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24752 {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  height:322px;
}
#u24753 {
  position:absolute;
  left:2px;
  top:153px;
  width:858px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24754 {
  position:absolute;
  left:43px;
  top:145px;
  width:71px;
  height:16px;
}
#u24755 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u24756 {
  position:absolute;
  left:109px;
  top:140px;
  width:295px;
  height:30px;
}
#u24756_input {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u24756_input:disabled {
  color:grayText;
}
#u24757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24757 {
  position:absolute;
  left:43px;
  top:208px;
  width:85px;
  height:16px;
}
#u24758 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u24757_ann {
  position:absolute;
  left:121px;
  top:204px;
  width:1px;
  height:1px;
}
#u24759 {
  position:absolute;
  left:130px;
  top:204px;
  width:120px;
  height:25px;
}
#u24759_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24760 {
  position:absolute;
  left:284px;
  top:203px;
  width:120px;
  height:25px;
}
#u24760_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:2px;
}
#u24761 {
  position:absolute;
  left:253px;
  top:216px;
  width:25px;
  height:1px;
}
#u24762 {
  position:absolute;
  left:2px;
  top:-8px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24763 {
  position:absolute;
  left:28px;
  top:146px;
  width:15px;
  height:15px;
}
#u24764 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24765 {
  position:absolute;
  left:28px;
  top:209px;
  width:15px;
  height:15px;
}
#u24766 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24767 {
  position:absolute;
  left:43px;
  top:93px;
  width:71px;
  height:16px;
}
#u24768 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u24769 {
  position:absolute;
  left:113px;
  top:88px;
  width:94px;
  height:32px;
  overflow:hidden;
}
#u24769_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24769_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24770 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u24771 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u24770_ann {
  position:absolute;
  left:74px;
  top:-4px;
  width:1px;
  height:1px;
}
#u24769_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24769_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24772 {
  position:absolute;
  left:7px;
  top:18px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24773 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u24774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24774 {
  position:absolute;
  left:28px;
  top:94px;
  width:15px;
  height:15px;
}
#u24775 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24776 {
  position:absolute;
  left:43px;
  top:50px;
  width:71px;
  height:16px;
}
#u24777 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u24778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24778 {
  position:absolute;
  left:30px;
  top:51px;
  width:15px;
  height:15px;
}
#u24779 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24780 {
  position:absolute;
  left:109px;
  top:46px;
  width:295px;
  height:25px;
}
#u24780_input {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24781 {
  position:absolute;
  left:429px;
  top:145px;
  width:71px;
  height:16px;
}
#u24782 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u24783 {
  position:absolute;
  left:495px;
  top:143px;
  width:295px;
  height:25px;
}
#u24783_input {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
